nav{
    height: 50px;
    background-color: #1fdeb2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a{
        color: black;
        text-decoration: none;
    }
}