.map{
    margin: 0 auto;
    margin-top: 25px;
    width: 700px;
    height: 500px;
    background-image: url(../images/Unknown-10.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}